body, html {
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
    background: #4a00fb;
    background: -moz-linear-gradient(45deg, #4a00fb 0%, #e600ff 100%);
    background: -webkit-linear-gradient(45deg, #4a00fb 0%, #e600ff 100%);
    background: linear-gradient(45deg, #4a00fb 0%, #e600ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4a00fb', endColorStr='#e600ff');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    background: #07038c;
    color: #fff;
    padding: 30px 20px 0 20px;
    height: 70px;
    border-bottom: 3px solid #f20732;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header ul, header .brand h1 {
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    padding: 0 20px;
}

header li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header .brand {
    float: left;
}

header nav {
    margin-top: 15px;
    float: right;
}

header .highlight, header .active a, header a:hover {
    color: #f20732;
    font-weight: bold;
}
.highlight {
    color: #f20732;
    font-weight: bold;
}

.active {

}

#showcase {
    background: #fff;
    height: 100%;
}

.main {
    background: #fff;
    min-height: 100%;
}

.main .container, #showcase .container {
    padding: 2em 1.4em;
}

.main .container h1, #showcase .container h1 {
    margin: 0;
}

.main .container p, #showcase .container p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 2em;
}

footer {
    padding: 20px;
    background: #f20732;
    color: #fff;
    text-align: center;
}

.main .container .cta, #showcase .container .cta {
    display:  block;
    color: #fff;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    margin: 1em 0;
}

.cta#register {
    background: #f20732;
}

.cta#login {
    background: #0439d9;
}

.row {

}
.tiles {
    margin-bottom: 1.5em;
}
.tile-grids {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1em;
}
.tile-box {
    border-left: 4px solid #f3f3f3;
    background-color: #f3f3f3;
    padding: 1.5em 0;
}
.tile-box h6, h2 {
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.tilebox-resolved {
    border-left-color: #4bd396;
}
.tilebox-info {
    border-left-color: #3ac9d6;
}
.tilebox-waiting {
    border-left-color: #f9c851;
}
.tilebox-rejected {
    border-left-color: #f5707a;
}

.text-resolved {
    color: #4bd396;
}
.text-waiting {
    color: #f9c851;
}
.text-rejected {
    color: #f5707a;
}

.text-primary {
    color: #056cf2;
}
.text-primary-dark {
    color: #0439d9;
}
.text-secondary {
    color: #f20505;
}
.text-secondary-dark {
    color: #f20732;
}

/*--forms--*/
.forms h3.title1 {
    margin-bottom:0;
}
.form-grids {
    display: grid;
    grid-template-rows: 60px auto;
}
.form-grids .col-sm-offset-2 {
    margin-left: 7em;
}
.form-grids .col-sm-9 {
    float: right;
    width: 80%;
}
.form-title {
    padding: 1em 2em;
    font-size: 1.5em;
    color: #6F6F6F;
    text-align: center;
}
.form-body {
    padding: 1.5em 1.5em;
}
.form-group {
    margin-bottom: 15px;
}
.form-footer {
    text-align: center;
    padding: 1em 0;
}
.form-footer div {
    margin-top: 1em;
}
.form-footer a {
    text-decoration: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #056cf2;
    outline: 0;
    -webkit-box-shadow: inset 0 .5px .5px rgba(0,0,0,.075), 0 0 8px rgba(5, 108, 242, .6);
    box-shadow: inset 0 .5px .5px rgba(0,0,0,.075), 0 0 8px rgba(5, 108, 242, .6);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}
textarea.form-control {
    height: auto;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}
.forms label {
    color: #6F6F6F;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label,
.checkbox label {
    min-height: 20px;
    padding-right: 15px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="file"] {
    display: block;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.help-block {
    margin-top: 10px;
}
.forms button .btn .btn-default {
    /*background-color: rgba(97, 100, 193, 0.85);
    color: #fff;
    padding: .5em 1.5em;
    border: none;
    outline:none;
    border-radius: inherit;*/
}

table {
    background-color: transparent;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
th {
    text-align: left;
}

.table-responsive {
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive > .table {
    border-collapse: collapse;
    width: 100%;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    box-sizing: content-box;
    color: #777;
}
.table-responsive > .table > tbody > tr:hover {
    background-color: #f5f5f5;
}
.table-responsive > .table .actions a {
    display: block;
    margin-bottom: 8px;
}
.table-responsive > .table .actions a:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-primary {
    color: #fff;
    background-color: #056cf2;
    border-color: #0439d9;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
    color: #fff;
    background-color: #0439d9;
    border-color: #07038c;
}
.btn-primary:active,
.btn-primary.active {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active {
    background-color: rgba(5, 108, 242, 0.5);
    border-color: rgba(4, 57, 217, 0.5);
}
.btn-primary .badge {
    color: #056cf2;
    background-color: #fff;
}
.btn-view {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-view:hover,
.btn-view:focus,
.btn-view.focus,
.btn-view:active,
.btn-view.active,
.open > .dropdown-toggle.btn-view {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-view:active,
.btn-view.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-view.disabled,
.btn-view[disabled],
fieldset[disabled] .btn-view,
.btn-view.disabled:hover,
.btn-view[disabled]:hover,
fieldset[disabled] .btn-view:hover,
.btn-view.disabled:focus,
.btn-view[disabled]:focus,
fieldset[disabled] .btn-view:focus,
.btn-view.disabled.focus,
.btn-view[disabled].focus,
fieldset[disabled] .btn-view.focus,
.btn-view.disabled:active,
.btn-view[disabled]:active,
fieldset[disabled] .btn-view:active,
.btn-view.disabled.active,
.btn-view[disabled].active,
fieldset[disabled] .btn-view.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-edit {
    color: #fff;
    background-color: #7fc1fc;
    border-color: #7fc1fc;
}
.btn-edit:hover,
.btn-edit:focus,
.btn-edit.focus,
.btn-edit:active,
.btn-edit.active,
.open > .dropdown-toggle.btn-edit {
    color: #fff;
    background-color: #66b5fb !important;
    border: 1px solid #66b5fb !important;
}
.btn-edit:active,
.btn-edit.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-edit.disabled,
.btn-edit[disabled],
fieldset[disabled] .btn-edit,
.btn-edit.disabled:hover,
.btn-edit[disabled]:hover,
fieldset[disabled] .btn-edit:hover,
.btn-edit.disabled:focus,
.btn-edit[disabled]:focus,
fieldset[disabled] .btn-edit:focus,
.btn-edit.disabled.focus,
.btn-edit[disabled].focus,
fieldset[disabled] .btn-edit.focus,
.btn-edit.disabled:active,
.btn-edit[disabled]:active,
fieldset[disabled] .btn-edit:active,
.btn-edit.disabled.active,
.btn-edit[disabled].active,
fieldset[disabled] .btn-edit.active {
    background-color: #7fc1fc;
    border-color: #7fc1fc;
}
.btn-delete {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-delete:hover,
.btn-delete:focus,
.btn-delete.focus,
.btn-delete:active,
.btn-delete.active,
.open > .dropdown-toggle.btn-delete {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-delete:active,
.btn-delete.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-delete.disabled,
.btn-delete[disabled],
fieldset[disabled] .btn-delete,
.btn-delete.disabled:hover,
.btn-delete[disabled]:hover,
fieldset[disabled] .btn-delete:hover,
.btn-delete.disabled:focus,
.btn-delete[disabled]:focus,
fieldset[disabled] .btn-delete:focus,
.btn-delete.disabled.focus,
.btn-delete[disabled].focus,
fieldset[disabled] .btn-delete.focus,
.btn-delete.disabled:active,
.btn-delete[disabled]:active,
fieldset[disabled] .btn-delete:active,
.btn-delete.disabled.active,
.btn-delete[disabled].active,
fieldset[disabled] .btn-delete.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.widget-shadow {
    background-color: #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb > .active {
    color: #777;
}

@media only screen and (min-width: 768px) {

    /*Global*/
    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    /*Showcase*/
    #showcase {
        min-height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 3, 140, 0.5)), to(rgba(5, 108, 242, 0.5))), url("../images/showcase.jpg") no-repeat 0 -250px;
        background: linear-gradient(to bottom, rgba(7, 3, 140, 0.5) 0%, rgba(5, 108, 242, 0.5) 100%), url("../images/showcase.jpg") no-repeat 0 -250px;
        background-position: center;
        background-attachment: scroll;
        background-size: cover;
        color: #fff;
        text-align: center;
    }

    #showcase h1 {
        margin: 100px 0 10px 0;
        font-size: 55px;
    }

    #showcase p {
        font-size: 20px;
    }

    .cta-buttons {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    }

    .cta {
        display: inline-block;
        font-size: 1.3em;
        padding: .8em 3em;
    }

    .main {
        background: #fff url("../images/bg.svg") no-repeat bottom right;
        background-size: 70%;
    }

    .top-bar {
        padding-left: 50px;
        padding-right: 50px;
    }

    .top-bar nav {
        margin-top: -5px;
    }

    .top-bar .brand {
        float: left;
        display: block;
    }

    .top-bar .brand a {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        color: #000;
    }

    .top-bar nav ul {
        display: block;
        position: relative !important;
        background: none !important;
        width: 100% !important;
    }

    .top-bar nav ul li a {
        float: right;
        margin-right: 50px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8em;
        display: inline-block;
        padding: 1.5em 1.5em;
        background: none;
    }

    /*.top-bar nav ul li a:hover,
    .top-bar nav ul li a:active {
        background-color: rgba(0,0,0,.12);
        color: #000;
    }*/

    .main h1 {
        font-size: 3em;
        margin-top: 2em;
    }

    .main p {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 992px) {
    .top-bar {
        padding-left: 100px;
        padding-right: 100px;
    }

    #showcase {
        padding-top: 200px;
    }

    .cta-buttons {
        width: 50%;
        margin: auto;
    }

    .cta {

    }

    .main .forms {
        width: 40%;
        margin: auto;
    }
}

.text-danger {
    color: #a94442;
}
a.text-danger:hover {
    color: #843534;
}